@font-face {
  font-family: 'Suisse Mono';
  src: url('../fonts/SuisseIntlMono-Regular-WebS.eot');
  src: url('../fonts/SuisseIntlMono-Regular-WebS.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
       url('../fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
  font-style:   normal;
  font-stretch: normal;
}


html { height: 100%; }
body{ font-family: 'Atlas Grotesk Web'; font-weight: 400; font-style: normal; font-stretch: normal; font-size: 20px; line-height: 1.5; height: 100%;  background-color: #ccc;}
h1 { font-size: 20px; margin: 0; line-height: 1.3; font-weight: 400; }
h2 { font-family: 'Suisse Mono'; font-size: 15px; margin-bottom: 40px; font-weight: 400;}
a, a:hover, a:active, a:focus{ text-decoration: none; color: #333; }
ul { margin:0; padding: 0; }
ul li{ list-style-type: none; margin-bottom: 40px;}
em { font-style: normal; text-decoration: underline; }
p {margin-bottom: 29px;}

.row { padding: 0 50px; /*margin: 0 50px;*/ }
.row .row { padding: 0;} /* don't do the padding in nested rows */
.container-fluid { height: 100%; }
.col-md-4 { padding: 50px; }

/****************
*  START PAGE
*****************/
#landingpage { height: 100%; padding: 0; /*background: url("../img/zange.jpg") no-repeat fixed center;*/ height: 100%;  }
canvas { background-color: #ccc; position: fixed; left:0; top: 0; z-index: -1;}
.carousel-wrap {display: table; width: 100%; height: 100%;}
.carousel { display: table-cell; text-align: center; vertical-align: middle; z-index: 3; text-shadow: 0.5vw 0.5vw 0.75vw rgba(0, 0, 0, 0.1);}
.carousel-inner { font-size: 50px; font-size: 6vw; color: white; }
.jump-down { position: absolute; bottom: 30px; z-index: 4; left: 50%; width: 20px; margin-left: -10px; text-align: center;}

/****************
* NAVIGATION
*****************/
.nav { position: fixed; width: 100%; top: 30px; left: 50px; z-index: 4; padding-left: 50px; }
#menuoverlay{ position: fixed; top:0; right:0; background-color: #20eb92; width: 50%; height:100%; z-index: 5; display: none; padding: 30px; }
#menuoverlay li { margin-bottom: 10px; font-family: 'Suisse Mono'; font-size: 40px; }
#menuoverlay ul{ margin-top: 40px; }
#menuoverlay ul.social li{ display: block; float: left; font-size: 14px; margin-right: 20px; }
.imprint{font-family: 'Suisse Mono'; font-size: 14px; }
.innerOverlay{ position: absolute; top: 30px; left: 50px; }
.menubutton { position: absolute; top: 0px; left: 50%; z-index: 4; }

/****************
* DESCRIPTION
*****************/
#description{ padding-top: 150px; background: white; padding-bottom: 50px;}
.underline { text-decoration: underline; }
.caption{ font-family: 'Suisse Mono'; font-size: 14px; margin-top: 14px; margin-bottom: 100px; }

/****************
* OVERVIEW
*****************/
.overview { padding-top: 120px; font-family: 'Suisse Mono'; font-size: 22px; background-color: #00cfee; }
.signup{ position: relative; left: 50%; border: 2px solid #333; bottom: 10px; width: 300px; text-align: center; margin-left: -150px; padding: 10px 40px; margin-bottom: 100px; }
.signup:hover { background-color: white; color: black;}
.signupwrap { padding-top: 0; }

#team { background-color: white; padding-top: 150px; padding-bottom: 50px;}
#team img {margin-bottom: 60px;}

/****************
* CONTACT & CREDITS
*****************/
#contact { background-color: white; margin-top: 30%;}
.contact input { width: 100%; border: 1px solid #333; }
a.social { text-decoration: underline; margin-right: 15px; }
p.newsletter{ margin-top: 30px; margin-bottom: 0;}
.credits { font-family: 'Suisse Mono'; font-size: 13px; background-color: white; padding-bottom: 50px;}
.credits h2{ margin-top: 0; }
.retune { font-family: 'Atlas Grotesk Web'; font-weight:  400; font-style:   normal; font-stretch: normal; font-size: 30px; }

#imprint { background-color: white; padding-top: 150px; }
#imprint h2 { margin: 30px 0 10px 0; line-height: 1.5;}


@media (min-width: 1900px) {
  body{ font-size: 30px; }
  h1 { font-size: 30px; }
  h2 { font-size: 18px; }
  p{margin-bottom: 44px;}
  #menuoverlay li { font-size: 60px;}
}

@media (max-width: 750px) {
  #menuoverlay{ width: 100%;}
}
